<template>
  <div id="app">
    <header-bar />
    <notifications />
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
import HeaderBar from '@/components/HeaderBar.vue'
import Notifications from '@/components/Notifications/Notifications'
export default {
  name: 'App',
  components: {
    HeaderBar,
    Notifications
  }
}
</script>

<style>
@import './css/bootstrap.min.css';
</style>
