<template>
  <div class="comment-box__box">
    <ul class="comment-box__comments">
      <li v-for="(comment, index) in comments" :key="index">
        {{comment.comment}} <small>by {{comment.author}} at {{comment.createdDate}}</small>
      </li>
    </ul>
    <div class="form-group">
      <textarea class="form-control view__comment-box--comment" v-model="comment" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button class="view__comment-box--send-btn btn btn-primary" @click="send">Send</button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      comment: ''
    }
  },
  methods: {
    send(){
      this.$emit('send', this.comment)
    }
  },
  props: ['comments']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.comment-box__box{
  position: absolute;
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  z-index: 3;
  color: white;
}
.comment-box__box::before{
  content: "";
  position: absolute;
  top: -30px;
  left: 20px;
  z-index: 3;
  border: solid 15px transparent;
  border-bottom-color: #333;
}
.comment-box__comments{
  list-style: none;
}
</style>
