<template>
  <div class="article__word-container">
    <button :class="sendButtonClass()" @click="sendShowMessage">
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      boxShow: null
    }
  },
  methods: {
    sendShowMessage () {
      this.$emit('show', {
        id: this.id,
        nth: this.nth,
        comments: this.comments
      })
    },
    sendButtonClass () {
      return {
        'view__article--word':true,
        'underlined': this.comments.length > 0
      }
    }
  },
  props: ['id', 'nth', 'comments'],
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.article__word-container{
  display: inline-block;
}
.article__word{
  background: none;
  border: none;
  cursor:pointer;
  padding: 1px 3px;
}
.article__word:hover{
  background: yellow;
}
.underlined {
  border-bottom:3px solid cornflowerblue;
}
</style>
