<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{title}}</h1>
          <form>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" required class="form-control" :rules="[required]" v-model="noteTitle">
            </div>
            <div class="form-group">
              <label for="text">Note</label>
              <textarea id="text" required class="form-control" v-model="text" rows="20"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" @click="send">
                Create Note
              </button>
            </div>
          </form>
          <div v-if="error" class="alert alert-danger">
            {{error}}
          </div>
          <div v-if="success" class="alert alert-success">
            {{success}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NotesService from '@/services/NotesService'
import slugify from '@/helpers/Slugify'
export default {
  data () {
    return {
      title: 'Create Note',
      noteTitle: '',
      text: '',
      error: null,
      success: null,
      required: (value) => !!(value) || 'Required.'
    }
  },
  methods: {
    async send () {
      try {
        if (/[^a-zA-Z0-9 ]/.test(this.noteTitle)) {
          this.error = 'You cannot use special characters in title'
          return
        }
        const response = await NotesService.create({
          title: this.noteTitle,
          text: this.text
        })
        this.$store.dispatch('addMessage', {
          type: 'success',
          message: 'Note is successfully created. You are redirected to note.'
        })
        if (response.data) {
          this.$router.push(
            {
              name: 'view-note',
              params: {
                title: slugify(response.data.title)
              }
            }
          )
        }
      } catch (err) {
        this.$store.dispatch('addMessage', {
          type: 'error',
          message: 'An error occurred.'
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
