<template>
  <div class="container">
    <div class="row">
      <div v-if="!loaded && !error">
        Loading...
      </div>
      <div class="alert alert-danger" v-if="error">
        {{error}}
      </div>
      <div class="col-4" v-for="note in notes" :key="note._id">
        <note :note="note" :my="true" v-on:delete="deleteNote"></note>
      </div>
    </div>
  </div>
</template>

<script>
import NotesService from '@/services/NotesService'
import slugify from '@/helpers/Slugify'
import excerpt from '@/helpers/Excerpt'
import Note from '@/components/Globals/Note'
export default {
  data () {
    return {
      notes: [],
      error: null,
      loaded: false
    }
  },
  components: {
    Note
  },
  async mounted () {
    try {
      const response = await NotesService.listByAuthor(this.$store.state.user._id)
      for (let item of response.data) {
        item.excerpt = excerpt(item.text)
        this.notes.push(item)
      }
      this.loaded = true
    } catch (err) {
      this.error = 'An error occured'
    }
  },
  methods: {
    readMore (noteTitle) {
      this.$router.push({
        name: 'view-note',
        params: {
          title: slugify(noteTitle)
        }
      })
    },
    deleteNote (note) {
      this.notes.splice(this.notes.indexOf(note), 1)
      this.$store.dispatch('addMessage', {
        type: 'success',
        message: 'Not has deleted.'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
