<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div v-if="!loaded">
            Loading...
          </div>
          <div class="alert alert-info" v-if="notes.length===0 && loaded">
            No results are returned.
          </div>
          <div class="alert alert-danger" v-if="error">
            {{error}}
          </div>
          <div v-for="(note, index) in notes" :key="note._id">
            <h1>{{note.title}}</h1>
            <article :ref="'article'+note._id">
            </article>
          </div>
        </div>
      </div>
    </div>
    <comment-box v-if="boxShow" :ref="'commentBox'" v-on:send="sendComment" :comments="currentComments"></comment-box>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import NotesService from '@/services/NotesService'
import CommentButton from './CommentButton.vue'
import CommentBox from './CommentBox.vue'
import Vue from 'vue'
import CommentsService from '@/services/CommentsService'
export default {
  data () {
    return {
      notes: [],
      error: null,
      loaded: false,
      boxShow: null,
      whichWord: 0,
      whichPostId: '',
      currentComments: [],
      currentWord: null
    }
  },
  computed: {
    ...mapState([
      'route',
      'isUserLoggedIn'
    ])
  },
  async mounted () {
    try {
      const that = this
      let noteTitle = this.route.params.title
      noteTitle = noteTitle.replace(/-/g, ' ')
      let items = this.notes
      const response = await NotesService.findByTitle(noteTitle)
      let CommentButtonClass = Vue.extend(CommentButton)
      for (let [itemIndex, item] of response.data.entries()) {
        items.push(item)
        const comments = (await this.fetchComments(item._id)).data
        let words = item.text.split(' ')
        for (let [wordIndex, word] of words.entries()) {
          let obj = comments.filter(function (obj) {
            return obj.where === wordIndex
          });
          let passedComments;
          if (obj === undefined || obj.length === 0){
            passedComments = []
          } else {
            passedComments = obj
          }
          const instance = new CommentButtonClass({
            propsData: {
              id: item._id,
              nth: wordIndex,
              comments: passedComments
            }
          })
          instance.$slots.default = [word]
          instance.$on('show', function (obj) {
            that.currentComments = []
            that.currentWord = instance
            for (const item of obj.comments) {
              that.currentComments.push(item)
            }
            that.whichWord = obj.nth
            that.whichPostId = obj.id
            that.showCommentBox()
          })
          let elemRef = 'article' + item._id
          this.$nextTick(function () {
            instance.$mount()
            this.$refs[elemRef][0].appendChild(instance.$el)
          })
        }
      }
      this.loaded = true
      document.addEventListener('click', this.hideCommentBox)
    } catch (err) {
      this.$store.dispatch('addMessage', {
        type: 'error',
        message: 'An error occurred.'
      })
      console.log(err.stack)
    }
  },
  components: {
    CommentButton,
    CommentBox
  },
  methods: {
    showCommentBox(){
      const instance = this.currentWord
      this.boxShow = true
      const rect = instance.$el.getBoundingClientRect()
      this.$nextTick(function () {
        this.$refs.commentBox.$el.style.top = (rect.top + 35) + 'px'
        this.$refs.commentBox.$el.style.left = (rect.left - 20) + 'px'
      })
    },
    hideCommentBox(e){
      if (this.$refs.commentBox === undefined || this.$refs.commentBox.$el.contains(e.target) || e.target.classList.contains('view__article--word')){
        // Do something
      } else {
        this.boxShow = false
      }
    },
    async sendComment (comment) {
      try {
        const response = CommentsService.create({
          postId: this.whichPostId,
          author: this.$store.state.user._id,
          comment,
          where: this.whichWord
        })
        this.$store.dispatch('addMessage', {
          type: 'success',
          message: 'Comment is successfully sent'
        })
        this.currentWord.$props.comments.push({
          postId: this.whichPostId,
          author: this.$store.state.user._id,
          comment,
          where: this.whichWord,
          createdDate: Date.now()
        })
        this.currentComments.push({
          postId: this.whichPostId,
          author: this.$store.state.user._id,
          comment,
          where: this.whichWord,
          createdDate: Date.now()
        })
        console.log(this.currentWord.$props)
      } catch (err) {
        this.$store.dispatch('addMessage', {
          type: 'error',
          message: 'An error occurred'
        })
      }
    },
    async fetchComments (_id) {
      try {
        const response = await CommentsService.listByPostId(_id)
        return response
      } catch (err) {
        console.log(err.stack)
        this.$store.dispatch('addMessage', {
          type: 'error',
          message: 'Unable to fetch comments'
        })
      }
    }
  },
  destroyed () {
    document.removeEventListener('click', this.hideCommentBox)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
