<template>
  <div>
    <h1 class="main__note--header">{{note.title}}</h1>
    <p class="main__note--excerpt">{{note.excerpt}}</p>
    <small class="main__note--author" v-if="!my">{{note.author}}</small>
    <button class="btn btn-secondary main__note--read" @click="readMore(note.title)">Read more</button>
    <button class="btn btn-danger main__note--delete" v-if="my" @click="deleteNote">Delete</button>
  </div>
</template>

<script>
import slugify from '@/helpers/Slugify'
import NotesService from '@/services/NotesService'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your App'
    }
  },
  props: ['note', 'my'],
  methods: {
    readMore (noteTitle) {
      this.$router.push({
        name: 'view-note',
        params: {
          title: slugify(noteTitle)
        }
      })
    },
    async deleteNote () {
      await NotesService.delete(this.note._id)
      this.$emit('delete', this.note)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
