<template>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WhereWereWe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link class="nav-link" tag="a" :to="{name:'root',query:{page:1}}">Home <span class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item" v-if="$store.state.isUserLoggedIn">
            <router-link v-if="$store.state.isUserLoggedIn" tag="a" class="nav-link" :to="{name:'create-note'}">Create Note</router-link>
          </li>
          <li class="nav-item" v-if="$store.state.isUserLoggedIn">
            <router-link v-if="$store.state.isUserLoggedIn" tag="a" class="nav-link" :to="{name:'my-notes'}">My Notes</router-link>
          </li>
          <li class="nav-item" v-if="$store.state.isUserLoggedIn">
            <a class="nav-link">Notifications</a>
          </li>
        </ul>
        <form>
          <div class="form-group">
            <input v-model="searchText" class="form-control" placeholder="Search something" @focus="$event.target.value=''">
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" v-if="!$store.state.isUserLoggedIn">
            <router-link class="nav-link" tag="span" :to="{name:'login'}">Login</router-link>
          </li>
          <li class="nav-item" v-if="!$store.state.isUserLoggedIn">
            <router-link class="nav-link" tag="span" :to="{name:'register'}">Register</router-link>
          </li>
          <li class="nav-item" v-if="$store.state.isUserLoggedIn">
            <a class="nav-link" @click="logout">Logout</a>
          <li class="nav-item" v-if="$store.state.isUserLoggedIn">
            <a class="nav-link" @click="testGate">TEST GATE</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import _ from 'lodash'
import AuthenticationService from '@/services/AuthenticationService'
import slugify from '@/helpers/Slugify'
export default {
  name: 'header-bar',
  data () {
    return {
      searchText: ''
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$router.push({
        name: 'root'
      })
    },
    async testGate () {
      this.$store.dispatch('addMessage', {
        type: 'info',
        message: 'Test Gate'
      })
    }
  },
  watch: {
    searchText: _.debounce(async function (value) {
      const route = {
        name: 'view-note'
      }
      if (this.searchText !== '') {
        route.params = {
          title: slugify(this.searchText)
        }
        this.$router.push(route)
      }
    }, 700),
    '$route.query.search': {
      immediate: true,
      handler (value) {
        let val = value
        if (val === undefined) val = ''
        else this.searchText = val
      }
    }
  }
}
</script>

<style scoped>

</style>
