<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{title}}</h1>
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input v-model="username" type="text" id="username" class="form-control" required :rules="[required]">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input v-model="password" type="password" id="password" class="form-control" required :rules="[required]">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" @click="login">Login</button>
          </div>
        </form>
        <div class="alert alert-danger" v-if="error">
          {{error}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      title: 'Login',
      username: '',
      password: '',
      error: null,
      required: (value) => !!(value) || 'Required.'
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          username: this.username,
          password: this.password
        })
        if (response.data.token) {
          this.$store.dispatch('setToken', response.data.token)
          this.$store.dispatch('setUser', response.data.user)
          this.$store.dispatch('addMessage', {
            type: 'success',
            message: 'Logged in successfully'
          })
          this.$router.push({
            name: 'root',
            query: {
              page: 1
            }
          })
        } else {
          this.$store.dispatch('addMessage', {
            type: 'error',
            message: 'Invalid username or password'
          })
        }
      } catch (err) {
        this.$store.dispatch('addMessage', {
          type: 'error',
          message: 'Invalid username or password'
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
