<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter your email address" required :rules="[required]" v-model="email">
            <small id="emailHelp" class="form-text text-muted">We respect your privacy, your e-mail address will never be shared with third parties.</small>
          </div>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" required :rules="[required]" v-model="username">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" required :rules="[required]" v-model="password">
          </div>
          <div class="form-group">
            <label for="inputRePassword">Re-type Password</label>
            <input type="password" class="form-control" id="inputRePassword" required :rules="[required]" v-model="rePassword">
          </div>
          <div class="form-group">
            <label for="inputFullName">Full Name</label>
            <input type="text" class="form-control" id="inputFullName" required :rules="[required]" v-model="fullName">
          </div>
          <div class="form-group">
            <label for="inputDateOfBirth">Date of Birth</label>
            <input type="date" class="form-control" id="inputDateOfBirth" required :rules="[required]" v-model="dateOfBirth">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" @click="register" v-if="!success">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      fullName: '',
      email: '',
      username: '',
      password: '',
      rePassword: '',
      dateOfBirth: '',
      error: null,
      success: null,
      required: (value) => !!value || 'Required.'
    }
  },
  methods: {
    async register () {
      console.log('wwfawfafaw')
      try {
        if (this.password !== this.rePassword) {
          this.error = 'Passwords dont match'
          return
        }
        const response = await AuthenticationService.register({
          email: this.email,
          password: this.password,
          fullName: this.fullName,
          dateOfBirth: this.dateOfBirth,
          username: this.username
        })
        if (response.data.success) {
          this.$store.dispatch('addMessage', {
            type: 'success',
            message: 'Registration successful. You are now being redirected to Login page.'
          })
          this.$router.push({
            name: 'login'
          })
        } else {
          this.success = null
          this.error = 'Registration unsuccessful. Try again.'
        }
      } catch (err) {
        this.$store.dispatch('addMessage', {
          type: 'error',
          message: err.response.data.message
        })
      }
    }
  }
}
</script>
<style scoped>
</style>
