<template>
  <div class="notification-area__container">
    <div v-for="message in messages" :key="message.time">
      <notification :type="message.type" :message="message.message"></notification>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Notification from '@/components/Notifications/Notification'
export default {
  data () {
    return {
      Socket: null
    }
  },
  computed: {
    ...mapState([
      'messages',
      'isUserLoggedIn'
    ])
  },
  methods: {

  },
  watch: {
    messages: function () {
      if (this.messages.length > 5) {
        this.$store.dispatch('removeMessage')
      }
    },
    isUserLoggedIn: {
      immediate: true,
      async handler (newVal, oldVal) {
        const that = this
        if (this.isUserLoggedIn) {
          console.log('logged in')
          const NotificationService = await import('@/services/NotificationService')
          this.Socket = NotificationService
          this.Socket.default.initiateSocket()
          this.Socket.default.getNotification(function (comment) {
            that.$store.dispatch('addMessage', {
              type: 'info',
              message: `${comment.author} commented on ${comment.postId}`
            })
          })
        } else {
          if (this.Socket) {
            console.log('there is socket')
            this.Socket.default.removeNotificationListener()
            this.Socket.default.closeSocket()
            this.Socket = null
          } else {
            console.log('there is no socket, fresh start')
          }
        }
      }
    }
  },
  async mounted () {
  },
  components: {
    Notification,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.notification-area__container{
  position: absolute;
  z-index: 2;
  width: 320px;
  padding: 20px;
  left: 0;
  bottom: 0;
}
</style>
