<template>
  <div :class="getClass">
    {{message}}
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false
    }
  },
  computed: {
    getClass () {
      let showing = ''
      if (this.show === true) showing = 'show'
      let type = 'dark'
      if (this.type === 'success')type = 'success'
      if (this.type === 'error')type = 'danger'
      if (this.type === 'info')type = 'info'
      if (this.type === 'warning')type = 'warning'
      return 'notification-area__notification alert ' + 'alert-' + type + ' ' + showing
    }
  },
  methods: {
  },
  props: ['type', 'message'],
  mounted () {
    this.show = true
    const that = this
    setTimeout(function () {
      that.show = false
    }, 3000)
    setTimeout(function () {
      that.$store.dispatch('removeMessage')
    }, 4000)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.notification-area__notification{
  margin-bottom: 20px;
  transition: opacity 1s;
  opacity: 0;
}
.show{
  opacity: 1;
}
</style>
