<template>
  <div>
    <div class="container" id="main">
      <div class="row">
        <div class="col-12">
          <div class="btn btn-primary" v-if="page>1" @click="prev">Previous Page</div>
          <div class="btn btn-primary pagination__nextPage" @click="next" v-if="notes.length===skip">Next Page</div>
        </div>
      </div>
      <div class="row" v-if="error">
        <div class="col-12">
          <div class="alert alert-danger">
            {{error}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4" v-for="note in notes" :key="note._id">
          <note :note="note"></note>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Note from '@/components/Globals/Note'
import NotesService from '@/services/NotesService'
import excerpt from '@/helpers/Excerpt'
export default {
  data () {
    return {
      notes: [],
      page: 0,
      skip: 6,
      error: null
    }
  },
  components: {
    Note
  },
  methods: {
    next () {
      this.error = null
      this.page += 1
    },
    prev () {
      if (!this.page <= 1) {
        this.error = null
        this.page -= 1
      }
    }
  },
  watch: {
    page: async function (newVal, oldVal) {
      try {
        let response = await NotesService.getNotes({
          skip: (this.skip * (newVal - 1)),
          limit: 6
        })
        if (response.data.success === false) {
          // this.error = response.data.message
          this.error = response.data.message
          return
        }
        this.error = null
        const route = {
          name: 'root'
        }
        route.query = {
          page: newVal
        }
        this.notes = []
        for (let item of response.data) {
          item.excerpt = excerpt(item.text)
          this.notes.push(item)
        }
        this.$router.push(route)
      } catch (err) {
        this.error = 'Error retrieving data'
      }
    },
    '$route.query.page': {
      immediate: true,
      handler (value) {
        let val
        if (value === undefined) val = 1
        else val = Number(value)
        this.page = val
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .pagination__nextPage{
    float:right;
  }
</style>
